<% title "New Walk Sheet" %>
<%=stylesheet 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui' %>
<%=javascript 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js', 'walksheet_form' %>

<%= render :partial => 'form' %>

<p><%= link_to "Cancel and return to Walk Sheets", walksheets_path %></p>
