		<div id="sex_group">
		<p>
		<% form.fields_for :sex_filter, sex_filter do |sf| %>
			<%= sf.label :string_val, 'Sex:' %><br />
			
			<% SexFilter::SEX_TYPES.map {|disp,value| [disp,value]}.each do |st| %>
			
				<%= sf.radio_button :string_val, st[1] %> <%= "#{st[0]}" %> &nbsp;
			<% end %>
		<% end %>
		</p>
		</div>
