<div id="flash_error"></div>
<%= render :partial => 'signup_step_1', :locals => { :form => form } %>

<%= render :partial => 'signup_step_2', :locals => { :form => form } %>

<%= render :partial => 'signup_step_3', :locals => { :form => form } %>

