$("#flash_error").remove();
$("#errorExplanation").remove();

$("#new_user").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>')

$("#new_user").html("<%= escape_javascript(render(:partial => 'thanks')) %>");

