$("#flash_notice").remove();
$("#flash_error").remove();

$("#new_user").before('<div id="flash_error"><%= escape_javascript("#{flash[:error]}") %></div>')

alert('<%="#{flash[:error]}".gsub('<br />', '\r\n') %>');
