$("#flash_error").html('');

$("#new_user").before('<div id="flash_error"><%= escape_javascript("#{flash.now[:error]}") %></div>');

alert('<%= escape_javascript("#{flash.delete(:error)}").gsub('<br />', '\r\n') %>');

