<div class="sidebarBox">
<h2>Contact Us</h2>
<p><%= image_tag('contactus.png', :alt => 'Contact Us', :width => '64', :height => '64', :class => 'inset') %>Give your campaign a winning boost with our professional suite of products and services.<br />
  <a href="#">Contact Us</a></p>
</div> <!-- end sidebarBox -->

