<% title "Edit Municipal Campaign" %>
<% form_for @municipal_campaign do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
  <p><%= f.submit 'Update Municipal Campaign' %></p>
<% end %>


