<% title "Create Customer Survey" %>

<%=stylesheet 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui' %>
<%=javascript 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js', 'jquery.selectboxes', 'application', 'survey_form' %>

<%= render :partial => 'form' %>

<p><%= link_to "Cancel and return to Surveys", surveys_path %></p>

