<%= title 'Control Panel' %>

<p>
	<table width="100%">
		<tr>
			<td>
				<%=link_to 'GIS Regions', gis_regions_path %>
			</td>
			<td>
				<%=link_to 'Walk Sheets', walksheets_path %>
			</td>
		</tr>	
	</table>
</p>
