<%= title 'Control Panel' %>

<p>
	<table width="100%">
		<tr>
			<td>
				<%=link_to 'Canvass Lists', walksheets_path %>
			</td>
			<td>
				<%=link_to 'Phone Bank Lists', phone_bank_lists_path %>
			</td>
			<td>
				<%=link_to 'SMS Lists', sms_lists_path %>
			</td>
		</tr>	
	</table>
</p>
