<h3>Add a GIS Region</h3>
<% info_window_form :url => { :action => :add_gis_region} do %>
	<p>
		<%= label_tag :name %>
		<%= text_field_tag :name %>
	</p>
	
	<%= submit_tag 'Add GIS Region' %>
	
<% end %>
